/* Chrome, Edge, Brave */

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #94a3b8;
  border-radius: 999px;
  border: 2px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background: #64748b;
  border: 2px solid transparent;
  background-clip: content-box;
}

/* Firefox */

* {
  scrollbar-width: thin;
  scrollbar-color: #94a3b8 transparent;
}

/* Dark Mode */

.dark ::-webkit-scrollbar-thumb {
  background: #475569;
  border: 2px solid transparent;
  background-clip: content-box;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: #64748b;
}